@model LahpaMobile.Web.ViewModels.MultiDayScheduleViewModel

@{
    ViewBag.Title = "LAHPA Mobile";
}

<h2>Upcoming Games</h2>

@foreach (var day in Model.Days)
{
    <h3>@day.Description</h3>
    <table class="table table-bordered table-striped">
        <tbody>
            @foreach (var game in day.Games)
            {
                <tr>
                    <td>@game.Time.ToShortTimeString()</td>
                    <td>
                        @Html.ActionLink(game.HomeTeam, "TeamSchedule", "Schedule", new { id = game.League, teamName = game.HomeTeam }, null)

                    </td>
                    <td>
                        @Html.ActionLink(game.AwayTeam, "TeamSchedule", "Schedule", new { id = game.League, teamName = game.AwayTeam }, null)
                    </td>
                    <td>@game.Location</td>
                </tr>
            }
        </tbody>
    </table>    
}
